<!DOCTYPE html>
  <html>
    <head>
      <title>Hello Page</title>
      <link type="text/css" rel="stylesheet" href="/static/login_style_sheet.css"/>
  </head>
<body class="body">
     <div id="center_tab">
          <table id="tabl">
               <tr>
                    <td colspan="6" background-color="white">
                         <h1 class="htitle" color="white"> {{username}}'s Database</h1>
                    </td>
               </tr>

               <tr>
                    <td background-color="white">
                         <left>{{ datab }}</left>
                    </td>
               </tr>
          </table>
     </div>
</body>
</html>
