<!DOCTYPE html>
  <html>
    <head>
      <title>Hello Page</title>
      <link type="text/css" rel="stylesheet" href="/static/style_sheet.css"/>
  </head>
<body class="body">
     <div id="center_tab">
          <table>
               <tr>
                    <td colspan="2">
                         <h1>Thanks {{ username }}! You'll get an email on all our newest updates!</h1>
                    </td>
               </tr>
               <tr>
                    <td colspan="2">
                         <a href="/">Return to home page </a>
                    </td>
               </tr>
          </table>
     </div>
</body>
</html>
