<!DOCTYPE html>
  <html>
    <head>
      <title>Hello Page</title>
      <link type="text/css" rel="stylesheet" href="/static/style_sheet.css"/>
  </head>
<body class="body">
     <div id="center_tab">
          <table>
               <tr>
                    <td colspan="2">
                         <h1>Hello again {{ username }}. Seems like you already have a profile. Please click Login on the <a href="/">home page</a>.</h1>
                    </td>
               </tr>
          </table>
     </div>
</body>
</html>
